body {
    background-color: lightgray;
    text-align: center;
    box-sizing: border-box;
}

header {
    
    margin-top: 50px;
    font-size: 80px;
    border-style: inset;
    border-color: rgb(143, 45, 45);
    border-radius: 5px;
    display:inline-block;
    box-shadow: 5px 10px 18px red;
    
}

h1 {
    display: inline;
}

#game-area {
    font-size: larger;
    line-height: 3;
    margin-top: 50px;
}
h2 {
    font-size: 45px;
}
#score-area{
    margin-top: 15px;
    margin-bottom: 15px;
}